@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #f76e6e, #f87e7e, #f98e8d, #f99d9d, #f8acac);
    overflow: hidden;
}


@keyframes text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heart {
    0% {
        opacity: 1;
        transform: scale(1,1);
    }

    10% {
        transform: scale(1.4,1.4);
    }

    30% {
        transform: scale(1,1);
    }

    75% {
        transform: scale(1.2,1.2);
    }

    100%,90% {
        opacity: 1;
        transform: scale(1,1);
    }
}

.heart-text {
    /*   display:none; */
}

h1 span, .heart-svg-container {
    opacity: 0;
    animation-name: text;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.heart-svg-container {
    opacity: 1;
    height: 300px;
    width: 300px;
    animation-name: heart;
    animation-duration: 1s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.heart-beat-svg-container {
    position: absolute;
    width: 100%;
    height: 160px;
    background: rgba(0,0,0,0.1);
}

.heart-svg {
    transform: scale(0.5,0.5);
    position: relative;
    top: -150px;
    left: -100px;
}

.heart-beat-svg {
    height: 100%;
}

.heart-g {
    fill: #d40000;
}

.heart-circle {
    fill: url(#grad1);
}

@keyframes heart-path {
    0% {
        stroke-dasharray: 0px 300px;
        fill-opacity: 0;
    }

    70% {
        fill-opacity: 0;
    }

    100% {
        stroke-dasharray: 1250px 1250px;
        fill-opacity: 1;
    }
}

.heart-path {
    fill: url(#grad2);
    fill-opacity: 0;
    stroke: url(#grad2);
    stroke-opacity: 1;
    stroke-width: 5px;
    stroke-dasharray: 0px 500px;
    stroke-dashoffset: 0px;
    animation-name: heart-path;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.heart-beat-path {
    fill: none;
    fill-opacity: 1;
    stroke: red;
    stroke-width: 3px;
    /*   stroke-opacity:1;
  stroke-width:5px;
  stroke-dasharray:0px 500px;
  stroke-dashoffset:0px; */
    /*   animation-name: heart-path;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards; */
}
